<div *transloco="let t" class="bg-background flex h-16 items-center">
  <div
    class="flex w-full items-center justify-between px-7 text-[13px] font-medium"
  >
    <div
      class="text-color-muted-foreground/50 flex flex-wrap items-center justify-center gap-2 text-center"
    >
      <span class="text-primary mr-2 hidden sm:inline">{{ year }}©</span>
      <a
        [href]="t('general.github-repo')"
        target="_blank"
        class="hover:text-primary sm:text-sm"
      >
        {{ t('general.appName') }}
      </a>
    </div>
    <ul class="text-color-muted-foreground/50 flex">
      <li class="hover:text-primary">
        <a
          [href]="t('general.github-repo-issues')"
          target="_blank"
          class="menu-link px-2"
        >
          {{ t('general.footer.issues') }}
        </a>
      </li>
      <li class="hover:text-primary">
        <a
          [href]="t('general.github-repo')"
          target="_blank"
          class="menu-link px-2"
          >{{ t('general.footer.sponsor') }}</a
        >
      </li>
      <li class="hover:text-primary">
        <a
          [href]="t('general.github-repo')"
          target="_blank"
          class="menu-link px-2"
          >{{ t('general.footer.starred') }}</a
        >
      </li>
    </ul>
  </div>
</div>
