<!-- Theme Selector -->
<div *transloco="let t" class="mx-4 my-2">
  <span class="text-color-foreground text-xs font-semibold">{{
    t('profileMenu.color')
  }}</span>
  <div class="mt-2 grid grid-cols-2 gap-2">
    @for (item of themeStore.getThemeColors(); track $index) {
      <div
        (click)="themeStore.setColor(item.name)"
        [class]="{
          'border-muted-foreground bg-card': item.name == themeStore.color(),
          'border-primary': item.name == themeStore.color(),
        }"
        class="focus-visible:ring-ring border-border bg-background text-color-muted-foreground hover:bg-card hover:text-color-foreground inline-flex h-8 cursor-pointer items-center justify-start rounded-md border px-3 text-xs font-medium whitespace-nowrap shadow-xs transition-colors focus-visible:ring-1 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50"
      >
        <span
          [style.background-color]="item.name"
          class="mr-1 flex h-5 w-5 shrink-0 -translate-x-1 items-center justify-center rounded-full"
        ></span>
        <p>{{ t('profileMenu.colorNames.' + item.name) }}</p>
      </div>
    }
  </div>
</div>
