<ul
  #submenuRef
  class="bg-background shadow-custom mt-2 space-y-0.5 rounded-md py-3"
>
  @for (item of submenu(); track $index) {
    <li class="flex font-semibold">
      <!-- Condition -->
      <ng-container
        [ngTemplateOutlet]="
          item.children && !item.disabled ? childMenu : parentMenu
        "
        [ngTemplateOutletContext]="{ item: item }"
      >
      </ng-container>

      <!-- Parent Menu -->
      <ng-template #parentMenu let-item="item">
        <button
          (click)="toggleMenu(item)"
          routerLinkActive="text-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-color-muted-foreground hover:bg-card hover:text-color-foreground mx-3 flex w-full items-center justify-between rounded-md px-2 py-2 text-xs font-semibold"
        >
          <div class="flex items-center justify-start">
            @if (item.icon) {
              <svg-icon src="{{ item.icon }}" [svgClass]="'h-5 w-5'"></svg-icon>
            }
            <span class="ml-1">{{ item.label }}</span>
            @if (item.disabled) {
              <p-chip
                class="mx-2 flex items-center px-4 py-0.5 text-[11px] tracking-wide"
              >
                <span
                  class="rounded-full border-0 bg-gradient-to-r from-yellow-200 to-yellow-300 px-1 py-1 font-semibold text-yellow-900 shadow-sm"
                >
                  Soon™
                </span>
              </p-chip>
            }
          </div>
        </button>
      </ng-template>

      <!-- Child Menu -->
      <ng-template #childMenu let-item="item">
        <div class="group dropdown relative flex w-full">
          <button
            (click)="toggleMenu(item)"
            class="text-color-muted-foreground hover:bg-card hover:text-color-foreground mx-3 flex w-full items-center justify-between rounded-md px-2 py-2 text-xs font-semibold"
          >
            <div class="flex items-center justify-start">
              @if (item.icon) {
                <span class="text-color-muted-foreground/50 mr-2">
                  <svg-icon src="{{ item.icon }}" [svgClass]="'h-5 w-5'">
                  </svg-icon>
                </span>
              }
              <span class="ml-1">{{ item.label }}</span>
              @if (item.disabled) {
                <p-chip
                  class="mx-2 flex items-center px-4 py-0.5 text-[11px] tracking-wide"
                >
                  <span
                    class="rounded-full border-0 bg-gradient-to-r from-yellow-200 to-yellow-300 px-1 py-1 font-semibold text-yellow-900 shadow-sm"
                  >
                    Soon™
                  </span>
                </p-chip>
              }
            </div>
            <span>
              <svg-icon
                src="assets/icons/heroicons/solid/chevron-right.svg"
                [svgClass]="'h-5 w-5 text-text-color-muted-foreground/50'"
              >
              </svg-icon>
            </span>
          </button>
          <!-- Submenu Dropdown: hidden by default, revealed on CSS hover of the parent .group div -->
          <app-navbar-submenu
            class="dropdown-content absolute top-0 left-[100%] z-30 hidden min-w-[200px] origin-top-left group-hover:block"
            [submenu]="item.children"
          ></app-navbar-submenu>
        </div>
      </ng-template>
    </li>
  }
</ul>
