<div class="card">
  <p-toast></p-toast>
  <p-table
    [value]="users()"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [paginator]="false"
    [showCurrentPageReport]="false"
    [totalRecords]="totalUsers()"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template #header>
      <tr>
        <th
          class="w-1/4 cursor-pointer select-none hover:bg-gray-100 dark:hover:bg-gray-800"
          (click)="onSort('name', sortField() === 'name' ? sortOrder() : null)"
        >
          <div class="flex items-center justify-between">
            <span>Name</span>
            @if (sortField() === 'name') {
              @if (sortOrder() === 'asc') {
                <i class="pi pi-sort-amount-up text-primary"></i>
              } @else {
                <i class="pi pi-sort-amount-down text-primary"></i>
              }
            } @else {
              <i class="pi pi-sort-alt text-gray-400"></i>
            }
          </div>
        </th>
        <th
          class="w-1/4 cursor-pointer select-none hover:bg-gray-100 dark:hover:bg-gray-800"
          (click)="
            onSort('email', sortField() === 'email' ? sortOrder() : null)
          "
        >
          <div class="flex items-center justify-between">
            <span>Email</span>
            @if (sortField() === 'email') {
              @if (sortOrder() === 'asc') {
                <i class="pi pi-sort-amount-up text-primary"></i>
              } @else {
                <i class="pi pi-sort-amount-down text-primary"></i>
              }
            } @else {
              <i class="pi pi-sort-alt text-gray-400"></i>
            }
          </div>
        </th>
        <th
          class="w-1/10 cursor-pointer select-none hover:bg-gray-100 dark:hover:bg-gray-800"
          (click)="onSort('role', sortField() === 'role' ? sortOrder() : null)"
        >
          <div class="flex items-center justify-between">
            <span>Role</span>
            @if (sortField() === 'role') {
              @if (sortOrder() === 'asc') {
                <i class="pi pi-sort-amount-up text-primary"></i>
              } @else {
                <i class="pi pi-sort-amount-down text-primary"></i>
              }
            } @else {
              <i class="pi pi-sort-alt text-gray-400"></i>
            }
          </div>
        </th>
        <th class="w-1/10">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-user let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="user">
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="user.name" required />
            </ng-template>
            <ng-template #output>
              {{ user.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="email"
                [(ngModel)]="user.email"
                required
              />
            </ng-template>
            <ng-template #output>
              {{ user.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="roles()"
                appendTo="body"
                [(ngModel)]="user.role"
                [style]="{ width: '100%' }"
              ></p-select>
            </ng-template>
            <ng-template #output>
              {{ user.role | titlecase }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="align-items-center flex items-end justify-center gap-2">
            @if (!editing && !readOnly()) {
              <button
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="editAction.emit(user)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                (click)="deleteAction.emit({ user: user, index: ri })"
                text
                rounded
                severity="danger"
                pTooltip="Delete user"
                tooltipPosition="top"
              ></button>
            }

            @if (editing && !readOnly()) {
              <button
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="saveAction.emit(user)"
                text
                rounded
                severity="secondary"
              ></button>
            }

            @if (editing) {
              <button
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="saveActionCancel.emit({ user: user, index: ri })"
                text
                rounded
                severity="secondary"
              ></button>
            }
          </div>

          @if (readOnly()) {
            <span
              class="text-color-muted-foreground align-items-center flex justify-center text-xs"
              >View Only</span
            >
          }
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    class="mt-4"
    [rows]="pageSize()"
    [totalRecords]="totalUsers()"
    [rowsPerPageOptions]="[5, 10]"
    (onPageChange)="onPage($event)"
  ></p-paginator>
</div>
